<a href="https://colab.research.google.com/github/Jacquedelest/Unfinised/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io

Load dataset into dataframe

In [2]:
sales_raw = pd.read_csv('sales_data_sample.csv', parse_dates=True, encoding="ISO-8859-1")
sales_raw.head()

   ORDERNUMBER  QUANTITYORDERED  ...  CONTACTFIRSTNAME  DEALSIZE
0        10107               30  ...              Kwai     Small
1        10121               34  ...              Paul     Small
2        10134               41  ...            Daniel    Medium
3        10145               45  ...             Julie    Medium
4        10159               49  ...             Julie    Medium

[5 rows x 25 columns]

This dataset is originally written by María Carina Roldán, Pentaho Community Member, BI consultant (Assert Solutions), Argentina. This work is licensed under the Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License. Modified by Gus Segura June 2014.

See information about dataframe including the index datatype and columns, non-null values, and memory usage.

In [3]:
sales_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

Check missing value of dataframe columns

In [4]:
sales_raw.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

Show descriptive statistic of datafame

In [5]:
#descriptive statistic of numeric columns
sales_raw.describe()

        ORDERNUMBER  QUANTITYORDERED  ...     YEAR_ID         MSRP
count   2823.000000      2823.000000  ...  2823.00000  2823.000000
mean   10258.725115        35.092809  ...  2003.81509   100.715551
std       92.085478         9.741443  ...     0.69967    40.187912
min    10100.000000         6.000000  ...  2003.00000    33.000000
25%    10180.000000        27.000000  ...  2003.00000    68.000000
50%    10262.000000        35.000000  ...  2004.00000    99.000000
75%    10333.500000        43.000000  ...  2004.00000   124.000000
max    10425.000000        97.000000  ...  2005.00000   214.000000

[8 rows x 9 columns]

**count** is number of non-null values.

**mean** (average) is the value obtained by dividing the sum of several quantities by their number.

**std** (standard deviation) is a measure of the amount of variation or dispersion of a set of values.

**min** is smallest value of each columns.

**25%** is value at the 25 percentile.

**50%** (median) is value at the 50% percentile.

**75** is value at the 75 percentile.

**max** is largest value of each columns.

A **percentile** (centile) is a score below which a given percentage of scores in its frequency distribution falls (exclusive definition) or a score *at or below which* a given percentage falls (inclusive definition).

In [6]:
#descriptive statistic of object columns
sales_raw.describe(include='O')

              ORDERDATE   STATUS  ... CONTACTFIRSTNAME DEALSIZE
count              2823     2823  ...             2823     2823
unique              252        6  ...               72        3
top     11/14/2003 0:00  Shipped  ...            Diego   Medium
freq                 38     2617  ...              259     1384

[4 rows x 16 columns]

**count** is number of non-null values.

**unique** is number of unique values.

**top** is the most common occurring value. In other words, **top** is **mode**.

**freq** is the most common value's frequency.

In [9]:
#quantile statistics of numeric columns
sales_quantiles = sales_raw.quantile([0.25, 0.5, 0.75])
print('Quantile Statistic of Dataframe:')
sales_quantiles

Quantile Statistic of Dataframe:

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ...  MONTH_ID  YEAR_ID   MSRP
0.25      10180.0             27.0      68.86  ...       4.0   2003.0   68.0
0.50      10262.0             35.0      95.70  ...       8.0   2004.0   99.0
0.75      10333.5             43.0     100.00  ...      11.0   2004.0  124.0

[3 rows x 9 columns]

**Quantile** is each of any set of values of a variate which divide a frequency distribution into equal groups, each containing the same fraction of the total population.

See pairwise correlation between numeric columns

**Pearson’s Correlation Coefficient** also called **product-moment correlation coefficient** or simply **Pearson’s ρ** measures the degree of correlation (and the direction of this correlation — whether positive or negative) between two variables. This coefficient, usually represented by *ρ*, only assumes values between -1 and 1.

![Pearson Correlation Coefficient.png]()

Interpreting the value of *ρ*

  0.9 to 1 positive or negative indicates a **very strong correlation**

  0.7 to 0.9 positive or negative indicates a **strong correlation**

  0.5 to 0.7 positive or negative indicates a **moderate correlation**

  0.3 to 0.5 positive or negative indicates a **weak correlation**
  
  0 to 0.3 positive or negative indicates a **negligible correlation**

In [15]:
print('Correlation between numeric columns with Standard Correlation Coefficient')
sales_raw.corr(method='pearson')

Correlation between numeric columns with Standard Correlation Coeficient

                 ORDERNUMBER  QUANTITYORDERED  ...   YEAR_ID      MSRP
ORDERNUMBER         1.000000         0.065543  ...  0.904596 -0.010280
QUANTITYORDERED     0.065543         1.000000  ...  0.069535  0.017881
PRICEEACH          -0.002935         0.005564  ... -0.005938  0.670625
ORDERLINENUMBER    -0.055550        -0.018397  ... -0.057367 -0.021067
SALES               0.039919         0.551426  ...  0.035647  0.635239
QTR_ID             -0.051383        -0.035323  ... -0.433052  0.010234
MONTH_ID           -0.039723        -0.039048  ... -0.430163  0.008170
YEAR_ID             0.904596         0.069535  ...  1.000000 -0.014310
MSRP               -0.010280         0.017881  ... -0.014310  1.000000

[9 rows x 9 columns]

In [20]:
print('Visualization of correlation between numeric columns with Standard Correlation Coefficient')
sales_raw.corr().style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

Visualization of correlation between numeric columns with Standard Correlation Coefficient

In [30]:
from pandas_profiling import ProfileReport
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip (34.6 MB)
     |████████████████████████████████| 34.6 MB 50 kB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (1.0.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (1.1.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (3.2.2)
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 64 kB/s
Collecting PyYAML>=5.0.0
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 41.5 MB/s
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (2.11.3)
Collecting visions[type_image_path]==0.7.1
  Downloading visions-0.7.1-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 60.9 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (1.19.5)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (0.5.0)
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 38.0 MB/s
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 48.6 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 752 kB/s
Collecting tqdm>=4.48.2
  Downloading tqdm-4.62.0-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 4.5 MB/s
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.0.0) (0.11.1)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (1.3.2)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (21.2.0)
Collecting multimethod==1.4
  Downloading multimethod-1.4-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (2.5.1)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 45.0 MB/s
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling==3.0.0) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.0.0) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.0.0) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.0.0) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.0.0) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling==3.0.0) (1.15.0)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (4.4.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.0.0) (2018.9)
Collecting scipy>=1.4.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 52 kB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling==3.0.0) (3.7.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.0.0) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.0.0) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.0.0) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.0.0) (2.0.2)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling==3.0.0) (1.1.1)
Building wheels for collected packages: pandas-profiling, htmlmin, imagehash
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-3.0.0-py2.py3-none-any.whl size=248525 sha256=effbb7b8cdb48812d3be7c09018dee42a7bb33ab458be72d12e1effe5232338a
  Stored in directory: /tmp/pip-ephem-wheel-cache-jqemi26b/wheels/cc/d5/09/083fb07c9363a2f45854b0e3a7de7d7c560f07da74b9e9769d
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=6afa3d5f55ff49c49da95dd3b99b64bbe15e8aa56e35686a8ad851364143fa6f
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295206 sha256=5325381d6df7b58964fd7b0b2c55da2d8f5f9855871b190d797f7c5aecd4a3f1
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
Successfully built pandas-profiling htmlmin imagehash
Installing collected packages: tangled-up-in-unicode, scipy, multimethod, visions, imagehash, tqdm, requests, PyYAML, pydantic, phik, htmlmin, pandas-profiling
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed PyYAML-5.4.1 htmlmin-0.1.12 imagehash-4.2.1 multimethod-1.4 pandas-profiling-3.0.0 phik-0.12.0 pydantic-1.8.2 requests-2.26.0 scipy-1.7.1 tangled-up-in-unicode-0.1.0 tqdm-4.62.0 visions-0.7.1

In [31]:
sales_report = ProfileReport(sales_raw)
sales_report.to_notebook_iframe()

OSError: ignored