<a href="https://colab.research.google.com/github/Jacquedelest/Unfinised/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import dataset

In [14]:
import pandas as pd
superstore = pd.read_csv('superstore_dataset2011-2015.csv', parse_dates=True, encoding="ISO-8859-1")
print('Dataset size: %d rows and %d columns\n' % superstore.shape)
print('First five data: ')
superstore.head()

Dataset size: 51290 rows and 24 columns

First five data:

   Row ID         Order ID Order Date  ...   Profit Shipping Cost Order Priority
0   42433     AG-2011-2040   1/1/2011  ...  106.140         35.46         Medium
1   22253    IN-2011-47883   1/1/2011  ...   36.036          9.72         Medium
2   48883     HU-2011-1220   1/1/2011  ...   29.640          8.17           High
3   11731  IT-2011-3647632   1/1/2011  ...  -26.055          4.82           High
4   22255    IN-2011-47883   1/1/2011  ...   37.770          4.70         Medium

[5 rows x 24 columns]

This is a retail dataset of a global superstore for four years

In [15]:
superstore.dtypes

Row ID              int64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Postal Code       float64
Market             object
Region             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority     object
dtype: object

Add new column Order Month from column Order Date

In [42]:
import datetime
def convert(x):
    date_format = "%d/%m/%Y" if '/' in x else "%d-%m-%Y"
    return datetime.datetime.strptime(x, date_format).strftime('%m/%Y')
    
superstore['Order Month'] = superstore['Order Date'].apply(convert)
superstore['Order Month'] = superstore['Order Date'].apply(lambda x: datetime.datetime.strptime(x, "%d/%m/%Y" if '/' in x else "%d-%m-%Y").strftime('%m/%Y'))
superstore.head()

   Row ID         Order ID Order Date  ... Shipping Cost Order Priority Order Month
0   42433     AG-2011-2040   1/1/2011  ...         35.46         Medium     01/2011
1   22253    IN-2011-47883   1/1/2011  ...          9.72         Medium     01/2011
2   48883     HU-2011-1220   1/1/2011  ...          8.17           High     01/2011
3   11731  IT-2011-3647632   1/1/2011  ...          4.82           High     01/2011
4   22255    IN-2011-47883   1/1/2011  ...          4.70         Medium     01/2011

[5 rows x 25 columns]